<section class="card">
  <h3 class="title">Eisenhower Matrix</h3>

  <div class="grid">
    <div class="cell">
      <div class="cell-title">{{ titleOf('Q1') }}</div>
      <div class="list" *ngIf="q1.length; else empty1">
        <div class="item" *ngFor="let x of q1; trackBy: trackById" [class.done]="x.task.isDone">
          <div class="row">
            <div class="name">{{ x.task.title }}</div>
            <div class="score">{{ x.score | number: '1.0-0' }}</div>
          </div>
          <div class="meta">
            <span class="due" [class.overdue]="x.deadline > 1 && !x.task.isDone">{{ x.task.dueDate }}</span>
            <span class="pill">{{ x.task.effortMinutes }}m</span>
          </div>
          <div class="actions">
            <button type="button" class="btn small" (click)="onEdit(x.task.id)">Edit</button>
            <button type="button" class="btn small" (click)="onToggleDone(x.task.id)">
              {{ x.task.isDone ? 'Undone' : 'Done' }}
            </button>
            <button type="button" class="btn small danger" (click)="onDelete(x.task.id)">Delete</button>
          </div>
        </div>
      </div>
      <ng-template #empty1><div class="empty">Empty</div></ng-template>
    </div>

    <div class="cell">
      <div class="cell-title">{{ titleOf('Q2') }}</div>
      <div class="list" *ngIf="q2.length; else empty2">
        <div class="item" *ngFor="let x of q2; trackBy: trackById" [class.done]="x.task.isDone">
          <div class="row">
            <div class="name">{{ x.task.title }}</div>
            <div class="score">{{ x.score | number: '1.0-0' }}</div>
          </div>
          <div class="meta">
            <span class="due" [class.overdue]="x.deadline > 1 && !x.task.isDone">{{ x.task.dueDate }}</span>
            <span class="pill">{{ x.task.effortMinutes }}m</span>
          </div>
          <div class="actions">
            <button type="button" class="btn small" (click)="onEdit(x.task.id)">Edit</button>
            <button type="button" class="btn small" (click)="onToggleDone(x.task.id)">
              {{ x.task.isDone ? 'Undone' : 'Done' }}
            </button>
            <button type="button" class="btn small danger" (click)="onDelete(x.task.id)">Delete</button>
          </div>
        </div>
      </div>
      <ng-template #empty2><div class="empty">Empty</div></ng-template>
    </div>

    <div class="cell">
      <div class="cell-title">{{ titleOf('Q3') }}</div>
      <div class="list" *ngIf="q3.length; else empty3">
        <div class="item" *ngFor="let x of q3; trackBy: trackById" [class.done]="x.task.isDone">
          <div class="row">
            <div class="name">{{ x.task.title }}</div>
            <div class="score">{{ x.score | number: '1.0-0' }}</div>
          </div>
          <div class="meta">
            <span class="due" [class.overdue]="x.deadline > 1 && !x.task.isDone">{{ x.task.dueDate }}</span>
            <span class="pill">{{ x.task.effortMinutes }}m</span>
          </div>
          <div class="actions">
            <button type="button" class="btn small" (click)="onEdit(x.task.id)">Edit</button>
            <button type="button" class="btn small" (click)="onToggleDone(x.task.id)">
              {{ x.task.isDone ? 'Undone' : 'Done' }}
            </button>
            <button type="button" class="btn small danger" (click)="onDelete(x.task.id)">Delete</button>
          </div>
        </div>
      </div>
      <ng-template #empty3><div class="empty">Empty</div></ng-template>
    </div>

    <div class="cell">
      <div class="cell-title">{{ titleOf('Q4') }}</div>
      <div class="list" *ngIf="q4.length; else empty4">
        <div class="item" *ngFor="let x of q4; trackBy: trackById" [class.done]="x.task.isDone">
          <div class="row">
            <div class="name">{{ x.task.title }}</div>
            <div class="score">{{ x.score | number: '1.0-0' }}</div>
          </div>
          <div class="meta">
            <span class="due" [class.overdue]="x.deadline > 1 && !x.task.isDone">{{ x.task.dueDate }}</span>
            <span class="pill">{{ x.task.effortMinutes }}m</span>
          </div>
          <div class="actions">
            <button type="button" class="btn small" (click)="onEdit(x.task.id)">Edit</button>
            <button type="button" class="btn small" (click)="onToggleDone(x.task.id)">
              {{ x.task.isDone ? 'Undone' : 'Done' }}
            </button>
            <button type="button" class="btn small danger" (click)="onDelete(x.task.id)">Delete</button>
          </div>
        </div>
      </div>
      <ng-template #empty4><div class="empty">Empty</div></ng-template>
    </div>
  </div>
</section>
