<section class="page">
  <div class="head">
    <h2 class="h2">Tasks</h2>
    <app-filters [active]="activeFilter" (filterChange)="onFilterChange($event)"></app-filters>
  </div>

  <app-task-form (createTask)="onCreateTask($event)"></app-task-form>

  <ng-container *ngIf="ranked$ | async as ranked">
    <div class="layout">
      <app-matrix
        class="left"
        [items]="ranked"
        (editTask)="startEdit($event)"
        (toggleDone)="onToggleDone($event)"
        (deleteTask)="onDeleteTask($event)"
      ></app-matrix>

      <app-priority-list
        class="right"
        [items]="ranked"
        (editTask)="startEdit($event)"
        (toggleDone)="onToggleDone($event)"
        (deleteTask)="onDeleteTask($event)"
      ></app-priority-list>
    </div>
  </ng-container>

  <ng-container *ngIf="editingTask$ | async as t">
    <div class="modal-backdrop" *ngIf="t" (click)="closeEdit()"></div>

    <div class="modal" *ngIf="t">
      <app-task-form
        [editTask]="t"
        (updateTask)="onUpdateTask($event)"
        (cancelEdit)="closeEdit()"
      ></app-task-form>
    </div>
  </ng-container>
</section>
